SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-sender@gmail.com
SMTP_PASSWORD=xxxx xxxx xxxx xxxx
SMTP_FROM=your-sender@gmail.com
WHISPER_MODEL=small
OPENAI_API_KEY=
TEST_TO_EMAIL=support@gmail.com
